In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
df = pd.read_csv('zomato_restaurants.csv')
df.head()

,Unnamed: 0,cost_for_two,cuisines,locality,rating,rest_name,votes
0,0,"1,400","['Continental', 'South Indian', 'Finger Food',...",JP Nagar,4.4,Brahma Brews,530
1,1,"1,200","['North Indian', 'South Indian', 'Continental'...",Rajarajeshwari Nagar,4.4,Secret Of Bangalore ...,721
2,2,500,"['Healthy Food', 'North Indian', 'Biryani', 'C...",HSR,4.5,eat.fit,1260
3,3,"1,600","['Continental', 'North Indian', 'Italian', 'So...",Sarjapur Road,4.9,Byg Brewski Brewing Company ...,17034
4,4,"1,500","['Continental', 'Finger Food']",JP Nagar,4.3,The Pump House ...,992

In [4]:
df.shape

(8051, 7)

In [6]:
list_rest_without_ratings = []
invalid_rating = df.iloc[8]['rating']
for i in range(0, 8051):
    if(df.iloc[i]['rating'] == invalid_rating):
        dataframe = {}
        dataframe['rest_name'] = df.iloc[i]['rest_name']
        dataframe['locality'] = df.iloc[i]['locality']
        dataframe['cuisines'] = df.iloc[i]['cuisines']
        dataframe['cost_for_two'] = df.iloc[i]['cost_for_two']
        dataframe['votes'] = df.iloc[i]['votes']
        list_rest_without_ratings.append(dataframe)
print("LENGTH: ")
print(len(list_rest_without_ratings))

LENGTH:
16

In [7]:
8051 - 16

8035

In [8]:
list_rest_with_ratings = []
invalid_rating = df.iloc[8]['rating']
for i in range(0, 8051):
    if(df.iloc[i]['rating'] != invalid_rating):
        dataframe = {}
        dataframe['rest_name'] = df.iloc[i]['rest_name']
        dataframe['locality'] = df.iloc[i]['locality']
        dataframe['cuisines'] = df.iloc[i]['cuisines']
        dataframe['cost_for_two'] = df.iloc[i]['cost_for_two']
        dataframe['rating'] = df.iloc[i]['rating']
        dataframe['votes'] = df.iloc[i]['votes']
        list_rest_with_ratings.append(dataframe)
print("LENGTH: ")
print(len(list_rest_with_ratings))

LENGTH:
8035

In [9]:
df = pd.DataFrame(list_rest_with_ratings)
df.to_csv("zomato_restaurants.csv", index=False)

In [10]:
df = pd.read_csv('zomato_restaurants.csv')
df.head()

,cost_for_two,cuisines,locality,rating,rest_name,votes
0,"1,400","['Continental', 'South Indian', 'Finger Food',...",JP Nagar,4.4,Brahma Brews,530
1,"1,200","['North Indian', 'South Indian', 'Continental'...",Rajarajeshwari Nagar,4.4,Secret Of Bangalore ...,721
2,500,"['Healthy Food', 'North Indian', 'Biryani', 'C...",HSR,4.5,eat.fit,1260
3,"1,600","['Continental', 'North Indian', 'Italian', 'So...",Sarjapur Road,4.9,Byg Brewski Brewing Company ...,17034
4,"1,500","['Continental', 'Finger Food']",JP Nagar,4.3,The Pump House ...,992

In [11]:
df.shape

(8035, 6)

In [12]:
l = []
for i in range(0, 8035):
    dataframe = {}
    dataframe['rest_name'] = df.iloc[i]['rest_name'].strip()
    dataframe['locality'] = df.iloc[i]['locality']
    dataframe['cost_for_two'] = df.iloc[i]['cost_for_two'].strip()
    dataframe['rating'] = df.iloc[i]['rating']
    dataframe['votes'] = df.iloc[i]['votes']
    dataframe['cuisines'] = df.iloc[i]['cuisines']
    l.append(dataframe)

In [15]:
df_copy = pd.DataFrame(l)
df_copy.to_csv("zomato_restaurants.csv", index=False)

In [16]:
df = pd.read_csv('zomato_restaurants.csv')
df.head()

,cost_for_two,cuisines,locality,rating,rest_name,votes
0,"1,400","['Continental', 'South Indian', 'Finger Food',...",JP Nagar,4.4,Brahma Brews,530
1,"1,200","['North Indian', 'South Indian', 'Continental'...",Rajarajeshwari Nagar,4.4,Secret Of Bangalore,721
2,500,"['Healthy Food', 'North Indian', 'Biryani', 'C...",HSR,4.5,eat.fit,1260
3,"1,600","['Continental', 'North Indian', 'Italian', 'So...",Sarjapur Road,4.9,Byg Brewski Brewing Company,17034
4,"1,500","['Continental', 'Finger Food']",JP Nagar,4.3,The Pump House,992

In [17]:
df.sort_values(['rating'], ascending=False, inplace=True)
df.head()

,cost_for_two,cuisines,locality,rating,rest_name,votes
184,"2,000","['North Indian', 'Mughlai']","Orion Mall, Malleshwaram",4.9,Punjab Grill,2058
3,"1,600","['Continental', 'North Indian', 'Italian', 'So...",Sarjapur Road,4.9,Byg Brewski Brewing Company,17034
377,100,['South Indian'],Basavanagudi,4.9,Brahmin's Coffee Bar,2711
94,100,['South Indian'],Jayanagar,4.9,Taaza Thindi,4152
99,"1,000","['Healthy Food', 'Salad', 'Mediterranean']",Indiranagar,4.9,Santé Spa Cuisine,279

In [18]:
df.to_csv("zomato_restaurants.csv", index=False)

In [1]:
from pymongo import MongoClient

In [2]:
uri = "mongodb://127.0.0.1:27017"
client = MongoClient(uri)
database = client['RestaurantRecommender']
collection = database['user_ratings']

In [3]:
username = "Priya"
user_collection = collection.find({'cust_name': username})
user = list(user_collection)

In [5]:
print(len(user))

9